footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 10px;
  color: bisque;
  background-image: url(../../../public/dark-black-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
